@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap");
:root {
  --color-darkest: #111;
  --color-darker: #272727;
  --color-dark: #3e3e3e;
  --color-darkish: #505050;

  --color-lightest: #eee;
  --color-lighter: #d8d8d8;
  --color-light: #c1c1c1;

  --color-active: #b39ddb;
  /* --color-active-dark: #6a1b9a; */
  --color-pink: #D3548D;
  --color-purple: #4a148c;
  --color-claret: #880e4f;

  /* Buttons */
  --clr-blue: 210, 79%, 46%;
  --clr-green: 123, 43%, 39%;
  --clr-red: 354, 79%, 46%;
  --clr-yellow: 53, 84%, 60%;
  --clr-gray: 0, 0%, 58%;

  --clr-blue-h: 210, 79%, 56%;
  --clr-green-h: 123, 43%, 49%;
  --clr-red-h: 354, 79%, 56%;
  --clr-yellow-h: 55, 100%, 74%;
  --clr-gray-h: 0, 0%, 68%;

  font-family: "Noto Sans", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  min-height: 100svh;
}
body {
  /* flex so we can use flex-fill on the container div in app.html */
  display: flex;
  margin: 0;
  background-color: var(--color-darker);
  color: var(--color-lighter);
}

/* INPUTS */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input,
select,
textarea {
  margin-bottom: 0;
  padding: 4px;
  border-radius: 8px;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition:
    border-color 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
}
:is(input, select, textarea):focus {
  border-color: #80bdff;
  outline-color: transparent;
  box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25);
}
input[disabled],
select[disabled],
textarea[disabled] {
  background-color: #ccc;
}
textarea {
  max-height: 40%;
  min-height: 1rem;
  min-width: 10ch;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.vr {
  width: 2px;
  margin: 16px 12px;
  border-radius: 9999px;
  background-color: var(--color-lighter);
  opacity: 0.325;
  transform: translateX(-1px);
}

.input-dark {
  font-size: 1.375rem;
  background-color: var(--color-dark);
  border: none;
  color: var(--color-lighter);
  padding: 8px 6px;
  border-radius: 0;
}

/* BUTTONS */
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  --clr: var(--clr-gray);
  color: var(--color-darkest);
  text-decoration: none;
  font-size: 1rem;
  border: none;
  border-radius: 0.4rem;
  background-color: hsl(var(--clr));
  border-color: hsl(var(--clr));
  padding: 0.375rem 0.75rem;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  transition:
    background-color 0.2s,
    border-color 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
  cursor: pointer;
}
button:focus {
  outline-color: transparent;
  box-shadow: 0 0 0 0.15rem hsla(var(--clr), 0.5);
}
button[disabled] {
  opacity: 0.55;
  cursor: default !important;
}

.btn-small {
  font-size: 0.75em;
  padding: 0.15rem 0.35rem;
}
.btn-none,
.btn-icon {
  padding: 0;
  border-radius: 9999px;
  border: none;
  background: none;
  outline-color: transparent;
}
.btn-icon {
  display: inline-flex;
  align-items: center;
  opacity: 0.7;
}
.btn-icon:not([disabled]):hover,
.btn-icon:not([disabled]):focus {
  opacity: 1;
}
.btn-icon[disabled] {
  opacity: 0.25;
}
.btn-rect {
  border-radius: 0;
}
.btn-blue {
  --clr: var(--clr-blue);
  color: var(--color-lightest);
}
.btn-blue:not([disabled]):hover {
  background-color: hsl(var(--clr-blue-h));
}
.btn-green {
  --clr: var(--clr-green);
  color: var(--color-lightest);
}
.btn-green:not([disabled]):hover {
  background-color: hsl(var(--clr-green-h));
}
.btn-gray {
  --clr: var(--clr-gray);
  color: var(--color-darkest);
}
.btn-gray:not([disabled]):hover {
  background-color: hsl(var(--clr-gray-h));
}
.btn-red {
  --clr: var(--clr-red);
  color: var(--color-lightest);
}
.btn-red:not([disabled]):hover {
  background-color: hsl(var(--clr-red-h));
}
.btn-yellow {
  --clr: var(--clr-yellow);
  color: var(--color-darkest);
}
.btn-yellow:not([disabled]):hover {
  background-color: hsl(var(--clr-yellow-h));
}
/* BUTTONS */
/* INPUTS */

.tippy-box:is([data-theme~="default"], [data-theme~="large"]) {
  background-color: var(--color-darkest);
  color: var(--color-lightest);
  font-size: 0.875rem;
  text-align: center;
}
.tippy-box:is([data-theme~="default"], [data-theme~="large"])[data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: var(--color-darkest);
}
.tippy-box:is([data-theme~="default"], [data-theme~="large"])[data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: var(--color-darkest);
}
.tippy-box:is([data-theme~="default"], [data-theme~="large"])[data-placement^="left"]
  > .tippy-arrow::before {
  border-left-color: var(--color-darkest);
}
.tippy-box:is([data-theme~="default"], [data-theme~="large"])[data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: var(--color-darkest);
}
.tippy-box[data-theme~="large"] {
  font-size: 1rem;
}

/* PLAYER */
.player-category-header {
  font-weight: 300;
  text-align: center;
  margin-top: 6px;
}
.player-stats-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border-radius: 8px;
}
.player-stats-container.hoverable {
  padding: 10px;
}
.player-stats-container.hoverable > .player-stat-value {
  margin-bottom: 12px;
}
.player-stats-container.hoverable:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.player-stat-name {
  font-size: 0.875rem;
  border-bottom: 1px solid var(--color-lighter);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
.player-stat-value {
  font-size: 1.25rem;
  margin-bottom: 3px;
}
.player-stat-small {
  font-size: 0.75rem;
  font-weight: 300;
}
/* PLAYER */

/* OSU */
.osu-flag-small {
  height: 24px;
  aspect-ratio: 4/3;
  border-radius: 5px;
}
.osu-avatar-small {
  width: 36px;
  height: 36px;
  border-radius: 8px;
}
/* player badge in ranking */
.osu-badge {
  height: 26px;
  margin-left: 8px;
}

/* TABLE */
.osu-main {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.05) 40%,
    rgba(80, 55, 200, 0.1125) 100%
  );
  position: relative;
}
.osu-main::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("/osu_triangles.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.osu-table {
  margin: 16px 12.5%;
  border-spacing: 0 3px;
}
.osu-table tr {
  background-color: var(--color-darker);
  transition: background-color 0.2s;
}
.osu-table thead > th {
  color: var(--color-darker);
  background-color: var(--color-light);
}
.osu-table tr:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.osu-table tr:first-child > td:first-child,
.osu-table thead > th:first-child {
  border-top-left-radius: 8px;
  overflow: hidden;
}
.osu-table tr:first-child > td:last-child,
.osu-table thead > th:last-child {
  border-top-right-radius: 8px;
  overflow: hidden;
}
.osu-table tr:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.osu-table tr:last-child > td:first-child {
  border-bottom-left-radius: 8px;
  overflow: hidden;
}
.osu-table tr:last-child > td:last-child {
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.osu-table tr.top-rank {
  position: relative;
}
.osu-table tr.top-rank::after {
  --color: var(--color-darkest);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 8px;
  background-color: color-mix(in srgb, var(--color) 50%, transparent);
}
.osu-table #rank-1.top-rank::after {
  border-top-right-radius: 8px;
}

.osu-table tr.osu-difference-column {
  background-color: rgba(255, 255, 255, 0.25);
}
.osu-table tr:not(.osu-difference-column):hover {
  box-shadow: 0 0 2px 1px color-mix(in srgb, var(--color-light) 33%, transparent);
  background-color: color-mix(in srgb, var(--color-active) 5%, var(--color-darker));
}
.osu-table td {
  line-height: 1;
  cursor: default;
}
.osu-table td:first-child {
  padding-left: 10px;
}
.osu-table td:last-child {
  padding-right: 10px;
}

.osu-name-column {
  cursor: pointer;
}
.osu-name-column > div {
  align-items: center;
}
.osu-name-column:hover > div > span {
  color: var(--color-active);
}
/* TABLE */
/* OSU */

/* SECONDARY NAV */
.secondary-nav {
  background: linear-gradient(var(--color-darker) 0%, var(--color-dark) 15%);
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 16px;
  font-size: 0.825rem;
}
.secondary-nav-tab {
  padding: 8px 12px;
  cursor: pointer;
  color: var(--color-light);
}
.secondary-nav-tab.active {
  color: var(--color-active);
}
.secondary-nav-tab:hover,
.secondary-nav-tab:focus,
.secondary-nav-tab:focus-visible {
  outline-color: transparent;
  color: #fff;
}
/* SECONDARY NAV */

/* SCROLLBAR */
.scrollbar-dark,
.scrollbar-small {
  scrollbar-color: #222 var(--color-dark);
}
/* apparently something must be in here for other styles to work */
.scrollbar-dark::-webkit-scrollbar,
.scrollbar-small::-webkit-scrollbar {
  display: initial;
}
.scrollbar-dark::-webkit-scrollbar-track {
  background: var(--color-dark);
}
.scrollbar-dark::-webkit-scrollbar-thumb {
  background: #222;
}
.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: #333;
}
.scrollbar-dark::-webkit-scrollbar-button,
.scrollbar-small::-webkit-scrollbar-button {
  display: none;
}

.scrollbar-small::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scrollbar-small::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 999px;
}
.scrollbar-small::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 999px;
}
.scrollbar-small::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
/* SCROLLBAR */

/* LOGO RAINBOW */
.logo-text {
  color: inherit;
  text-decoration: none;
  line-height: 1;
  padding: 0 20px;
}
.logo-text:hover,
.logo-text:focus,
.logo-text:focus-visible {
  background: linear-gradient(
    125deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3,
    #2b1de8,
    #1ddde8,
    #1de840,
    #e3e81d,
    #e8b71d,
    #e81d1d,
    #ff2400
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  outline-color: transparent;
  text-shadow: 0px 0px 0 rgba(255, 255, 255, 0.5);
  animation: logo-rainbow 7s linear infinite alternate;
  background-size: 250% 100%;
}

@keyframes logo-rainbow {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/* LOGO RAINBOW */

/* MISC */
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-fill {
  display: flex;
  flex: 1 1 auto;
}

.group {
  --radius: 6px;
}
.group > * {
  border-radius: 0;
}
.group > *:first-child {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.group > *:last-child {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.a {
  color: inherit;
  text-decoration: none;
}
.a:hover {
  text-decoration: underline;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.noscroll {
  height: 100% !important;
  overflow: hidden !important;
}

.clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.overlay {
  --color-base: 255, 255, 255;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(var(--color-base), 0.3);
  z-index: 5;
}

.solo-text {
  margin: 2.5rem auto;
  font-size: 1.75rem;
  text-align: center;
}
.solo-text > small {
  opacity: 0.8;
}
.solo-text em {
  color: var(--color-purple);
}
/* MISC */

/* MEDIA */
/* @media screen and (max-width: 80rem) {
} */
@media screen and (max-width: 40rem) {
  .hide-width-640 {
    display: none;
  }
  .column-width-640 {
    flex-direction: column;
  }
}
/* MEDIA */
